<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/main.css">

    <title>Todo List</title>
</head>
<body>
    <div id="todolist">
        <div class="header">
            <div class="title">My Todo-s</div>
            <div class="add-bar">
                <input type="text" placeholder="Add new" class="addtodo" v-model="input_todo">
                <button class="add icon_add" @click="createTodo(input_todo)">Add</button>
            </div>
        </div>
        <hr />
        <div class="todos">
            <ul>
                <li v-for="(todo,index) in todos">
                    <div class="d-flex todo_item">
                        <div 
                            class="icon_add complete"
                            v-bind:class="{
                                'icon-check' : todo.complete,
                                'icon-check-empty': !todo.complete
                            }">
                        </div>
                        <div class="content">
                            {{ todo.description }}
                        </div>
                        <div class="icon_add edit icon-pencil">

                        </div>
                        <div class="icon_add icon-trash-empty delete">

                        </div>
                    </div>
                    
                    <!-- <div class="d-flex todo_item">
                        <div 
                            class="icon_add complete" 
                            v-bind:class="{ icon-check-empty: complete, icon-check:complete }"
                            @click="complete_todo">
                        </div>
                        <div 
                            class="content" 
                            contenteditable="false">
                        </div>
                        <div 
                            class="icon_add edit" 
                            v-bind:class="{ icon-pencil:edit, icon:floppy;edit}"
                            @click="edit_todo">
                        </div>
                        <div 
                            class="icon_add icon-trash-empty delete" 
                            @click="delete_todo">
                        </div>
                    </div> -->
                </li>
            </ul>

        </div>    
    </div>
    
</body>


<script src="js/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<!-- <script src="js/main.js"></script> -->
<!-- <script src="js/todoapi.js"></script> -->
<script src="js/vue_todolist.js"></script>
</html>